:host {
  .input-group {
    display: flex !important;
    width: 100% !important;
    margin-bottom: 1rem;

    .form-control {
      flex: 1 1 auto !important;
      width: 1% !important;
    }

    .btn {
      flex: 0 0 auto !important;
    }
  }

  .list-group {
    max-height: 60vh;
    overflow-y: auto;
  }
}